.login-container {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.login-paper {
    width: 100%;
    border-radius: 16px;
}

.font-weight-bold {
    font-weight: 600;
}

@media (max-width: 600px) {
    .login-container {
        padding-top: 100px;
    }
}
