.colores {
    color: #9FA614; /* OLIVA CLARO */
    color: #7C8111; /* OLIVA OSCURO */
    color: #9E9E9E; /* GRIS */
    color: #EEEEEE; /* GRIS CLARO */
}
.fuentes{
    font-family: Calibri; /* TEXTO */
    font-family: 'Gill Sans'; /* TÍTULOS */
}