@inherits LayoutComponentBase

<MudThemeProvider Theme="this._temaPersonalizado"/>
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<link href="css/Layout/LayoutPublico.css" rel="stylesheet" />

<MudLayout>
    <MudMainContent Class="pa-0">
        <MenuSuperiorPublico />

        <div class="contenido-publico">
            @Body
        </div>

        <PiePagina></PiePagina>
    </MudMainContent>
</MudLayout>

@code {
    #region ***** DEPENDENCIAS *****
    private MudTheme _temaPersonalizado = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#5C6BC0",
            Secondary = "#777777",
            Tertiary = "#FFFFFF",
        }
    };
    #endregion

    #region ***** PROPIEDADES PRIVADAS *****
    #endregion

    #region ***** PROPIEDADES PÚBLICAS *****
    #endregion

    #region ***** MÉTODOS PÚBLICOS *****
    #endregion

    #region ***** MÉTODOS PRIVADOS *****
    #endregion
}
